<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rails React Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= yield :head %>
  </head>

  <body>
    <div class='mx-20'>
      <a class='link' href='/'>Home</a>
      <a class='link' href='/frontend/ruby'>Ruby</a>
      <a class='link' href='/frontend'>React</a>
      <a class='link' href='/jobs'>Jobs</a>
      <%= yield %>
    </div>
  </body>
</html>