<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rails React Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= yield :head %>
  </head>

  <body>
    <a href='/'>Home</a>
    <a href='/frontend/ruby'>Ruby</a>
    <a href='/frontend'>React</a>
    <%= yield %>
  </body>
</html>